In [51]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

In [52]:
df = pd.read_csv('data/dataset_.csv')

In [53]:
df.columns

Index(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Geography',
       'IsActiveMember', 'Tenure', 'Gender', 'HasCrCard', 'NumOfProducts',
       'class'],
      dtype='str')

In [54]:
df = pd.get_dummies(df, columns=['Geography', 'Gender'])
df.columns

Index(['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'IsActiveMember',
       'Tenure', 'HasCrCard', 'NumOfProducts', 'class', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='str')

In [55]:
X = df.drop('class', axis=1)
y = df['class']
df.head()

,CreditScore,Age,Balance,EstimatedSalary,IsActiveMember,Tenure,HasCrCard,NumOfProducts,class,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,567,40,122265.24,138552.74,0,7,1,1,0,False,True,False,False,True
1,636,24,0.00,38830.72,1,9,0,2,0,True,False,False,True,False
2,745,48,96048.55,74510.65,0,10,1,1,0,False,True,False,False,True
3,681,33,0.00,158336.36,0,10,0,1,0,False,False,True,False,True
4,542,29,0.00,8342.35,0,9,1,1,0,True,False,False,False,True

In [56]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [57]:
features = ['CreditScore', 'Age', 'Balance', 'EstimatedSalary', 'Tenure', 'NumOfProducts']
scaler = StandardScaler()

X_train_std = X_train.copy()
X_test_std = X_test.copy()
X_train_std[features] = scaler.fit_transform(X_train_std[features])
X_test_std[features] = scaler.fit_transform(X_test_std[features])
X_train_std.head()

,CreditScore,Age,Balance,EstimatedSalary,IsActiveMember,Tenure,HasCrCard,NumOfProducts,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
2339,0.271676,-0.461135,0.095856,-0.147328,0,1.029227,1,-0.908908,True,False,False,True,False
8454,0.302802,0.017767,-1.231250,1.266465,0,-0.353968,0,-0.908908,True,False,False,True,False
4940,0.385804,2.316497,0.973131,-1.086325,1,-1.391365,1,-0.908908,False,False,True,True,False
4035,-2.114623,-1.323158,0.948915,1.332765,0,-0.699767,1,-0.908908,False,True,False,False,True
7162,-0.755470,-0.748476,-0.251458,0.783903,1,-0.353968,1,-0.908908,False,True,False,True,False

Computer vector prototypes

In [88]:
p0 = X_train_std[y == 0].mean(axis=0) # Not Exited
p1 = X_train_std[y == 1].mean(axis=0) # Exited

C:\Users\Tudor\AppData\Local\Temp\ipykernel_7112\95109131.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  p0 = X_train_std[y == 0].mean(axis=0) # Not Exited
C:\Users\Tudor\AppData\Local\Temp\ipykernel_7112\95109131.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  p1 = X_train_std[y == 1].mean(axis=0) # Exited

In [82]:
p0 = p0 / np.linalg.norm(p0)
p1 = p1 / np.linalg.norm(p1)

In [60]:
p0

CreditScore          0.006403
Age                 -0.111165
Balance             -0.045069
EstimatedSalary     -0.003736
IsActiveMember       0.419208
Tenure               0.006419
HasCrCard            0.537259
NumOfProducts        0.019054
Geography_France     0.400348
Geography_Germany    0.163171
Geography_Spain      0.196832
Gender_Female        0.325149
Gender_Male          0.435203
dtype: float64

In [61]:
p1

CreditScore         -0.024075
Age                  0.417969
Balance              0.169454
EstimatedSalary      0.014046
IsActiveMember       0.261201
Tenure              -0.024134
HasCrCard            0.508937
NumOfProducts       -0.071641
Geography_France     0.289475
Geography_Germany    0.290821
Geography_Spain      0.151245
Gender_Female        0.410650
Gender_Male          0.320891
dtype: float64

p0_q and p1_q will be our pattern vectors with which we will train the Hopular network.

In [62]:
scale = 256
p0_q = [int(x) for x in p0]
p1_q = [int(x) for x in p1]

In [63]:
p0_q

[1, -28, -11, 0, 107, 1, 137, 4, 102, 41, 50, 83, 111]

In [64]:
p1_q

[-6, 107, 43, 3, 66, -6, 130, -18, 74, 74, 38, 105, 82]

In [94]:
v_test_notexited = [[int(round(x * scale)) for x in row] for row in X_test_std[y_test == 0].to_numpy()]
v_test_exited = [[int(round(x * scale)) for x in row] for row in X_test_std[y_test == 1].to_numpy()]